@import "./_vars";

h1, h2 {
    &.title {
        font-weight: normal;
    }
}

.navbar {
    .navbar-item {
        &.is-selected {
            background-color: rgba(255,255,255,.8);
            color: black;
        }
        .fa-film {
            color: black;
        }
    }
    .site-name {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
}

/* Search Results */

.movie-results {
    width: 100%;
    position: relative;
    .movie-item {
        width: 100%;
        display: table;
        margin-bottom: 20px;
        .movie-title {
            display: table-cell;
            padding-left: 10px;
            font-size: 20px;
            vertical-align: top;
        }
        .movie-poster {
            display: table-cell;
            width: 100px;
            height: 100px;
            img {
                max-height: 100px;
                max-width: 100px;
            }
        }
        .action-buttons {
            margin-top: 10px;
            // display: table-cell;
            // text-align: right;
        }
    }
}

/* Wishlist / Seen */

.movie-grid {
    .movie-item {
        float: left;
        position: relative;
        text-align: center;
        margin: 10px;
        width: 168px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 4px 1px rgba(0,0,0,.18);
            .movie-controls {
                display: block;
            }
            .movie-title {
                color: black;
            }
        }
        .movie-controls {
            position: absolute;
            display: none;
            width: 100%;
            // background-color: rgba(255,255,255,.9);
            // background-color: white;
            button {
                margin: 10px 0;
            }
            span {
                margin: 5px;
            }
        }
        .movie-poster {
            height: 268px;
            img {
                max-height: 268px;
                max-width: 168px;
            }
        }
        .movie-title {
            padding: 5px;
        }
    }
}